<div class="gallery">
  <% @roasters.each do |roaster| %>
    <div class="item"><img src='<%= url("img/#{roaster.image_url}") %>' alt="" />
      <% @user = User.find(roaster.user_id) %>
      <p><a href="#"><%= @user.name %></a></p>
      <p><%= roaster.street %></p>
      <p><%= roaster.city %></p>
      <p><%= roaster.state %></p>
      <p><%= roaster.zip %></p>
      <p><%= roaster.phone_number %></p>
    </div>
    <% if roaster.id % 3 == 0 %>
      </div>
      <div class="gallery">
    <% end %>
  <% end %>
</div>
