<% if @user.user_type == 'customer' %>
  <div class="wrap">
    <h1 class="customer-profile">Customer Profile</h1>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th scope="row">Name</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th scope="row">Street</th>
          <td><%= @customer.street %></td>
        </tr>
        <tr>
          <th scope="row">City</th>
          <td><%= @customer.city %></td>
        </tr>
        <tr>
          <th scope="row">State</th>
          <td><%= @customer.state %></td>
        </tr>
        <tr>
          <th scope="row">Zip Code</th>
          <td><%= @customer.zip %></td>
        </tr>
        <tr>
          <th scope="row">Phone Number</th>
          <td><%= @customer.phone_number %></td>
        </tr>
      </tbody>
    </table>
  </div>
<% elsif @user.user_type == 'farmer' %>
  <div class="wrap">
    <h1 class="farmer-profile">Farmer Profile</h1>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th scope="row">Name</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th scope="row">Country</th>
          <td><%= @farmer.country %></td>
        </tr>
        <tr>
          <th scope="row">City</th>
          <td><%= @farmer.city %></td>
        </tr>
        <tr>
          <th scope="row">Phone</th>
          <td><%= @farmer.phone_number %></td>
        </tr>
        <tr>
          <th scope="row">Elevation</th>
          <td><%= @farmer.elevation %></td>
        </tr>
        <tr>
          <th scope="row">Varietal</th>
          <td><%= @farmer.varietal %></td>
        </tr>
        <tr>
          <th scope="row">Crop Cost</th>
          <td><%= @farmer.crop_cost %></td>
        </tr>
        <tr>
          <th scope="row">Shipping Cost</th>
          <td><%= @farmer.shipping_cost %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="wrapper">
    <h1 class="manage-orders">Manage Orders</h1>
    <!--order-->
    <div class="orders">
      <!--categories-->
      <ul class="categories">
        <!--date-->
        <li class="date">
          <h2>Order Date</h2>
        </li>
        <!--details-->
        <li class="details">
          <h2>Order Details</h2>
        </li>
        <!--shipping-->
        <li class="shipping">
          <h2>Shipping</h2>
        </li>
        <!--Status-->
        <li class="">
          <h2>Status</h2>
        </li>
        <!--action-->
        <li class="action">
          <h2>Action</h2>
        </li>
      </ul>
      <div class="orders-list">
        <!--individual orders-->
        <ul class="order one">
          <!--order date-->
          <li>
            <p>July 12, 2016</p>
            <p>1:30 pm PST</p>
          </li>
          <!--order details-->
          <li>
            <p>Kona Crop 3/12/2016</p>
            <p>12 lb</p>
            <p>Contact Buyer: Shelby Moracca</p>
          </li>
          <!--shipping-->
          <li>
            <p>Standard</p>
            <p>Expected ship date</p>
            <p>Aug 3, 2016</p>
          </li>
          <!--status-->
          <li>
            <p>Not shipped</p>
          </li>
          <!--action-->
          <li>
            <button type="button" class='btn btn-default'><p>Print packing slip</p></button>
            <button type="button" class='btn btn-default'><p>Edit Shipments</p></button>
            <button type="button" class='btn btn-default'><p>Refund order</p></button>
          </li>
        </ul>
        <ul class="order two">
          <!--order date-->
          <li>
            <p>July 1, 2016</p>
            <p>4:45 am PST</p>
          </li>
          <!--order details-->
          <li>
            <p>Kona Crop 3/12/2016</p>
            <p>12 lb</p>
            <p>Contact Buyer: Shelby Moracca</p>
          </li>
          <!--shipping-->
          <li>
            <p>Standard</p>
            <p>Expected ship date</p>
            <p>Aug 3, 2016</p>
          </li>
          <!--status-->
          <li>
            <p>Shipped</p>
          </li>
          <!--action-->
          <li>
            <button type="button" class='btn btn-default'><p>Print packing slip</p></button>
            <button type="button" class='btn btn-default'><p>Edit Shipments</p></button>
            <button type="button" class='btn btn-default'><p>Refund order</p></button>
          </li>
        </ul>
        <ul class="order three">
          <!--order date-->
          <li>
            <p>June 28, 2016</p>
            <p>12:01 pm PST</p>
          </li>
          <!--order details-->
          <li>
            <p>Kona Crop 3/12/2016</p>
            <p>12 lb</p>
            <p>Contact Buyer: Shelby Moracca</p>
            <p>Billing Country: United Kingdom</p>
          </li>
          <!--shipping-->
          <li>
            <p>Standard</p>
            <p>Expected ship date</p>
            <p>Aug 3, 2016</p>
          </li>
          <!--status-->
          <li>
            <p>Shipped</p>
          </li>
          <!--action-->
          <li>
            <button type="button" class='btn btn-default'><p>Print packing slip</p></button>
            <button type="button" class='btn btn-default'><p>Edit Shipments</p></button>
            <button type="button" class='btn btn-default'><p>Refund order</p></button>
          </li>
        </ul>
      </div>
    </div>

  </div>
<% elsif @user.user_type == 'roaster' %>
  <h1 class="roaster-profile">Roaster Profile</h1>
  <div class="wrap">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th scope="row">Name</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th scope="row">Street</th>
          <td><%= @roaster.street %></td>
        </tr>
        <tr>
          <th scope="row">City</th>
          <td><%= @roaster.city %></td>
        </tr>
        <tr>
          <th scope="row">State</th>
          <td><%= @roaster.state %></td>
        </tr>
        <tr>
          <th scope="row">Zip Code</th>
          <td><%= @roaster.zip %></td>
        </tr>
        <tr>
          <th scope="row">Phone Number</th>
          <td><%= @roaster.phone_number %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="wrapper">
    <h1 class="manage-orders">Manage Orders</h1>
    <!--order-->
    <div class="orders">
      <!--categories-->
      <ul class="categories">
        <!--date-->
        <li class="date">
          <h2 class="category">Order Date</h2>
        </li>
        <!--details-->
        <li class="details">
          <h2 class="category">Order Details</h2>
        </li>
        <!--shipping-->
        <li class="shipping">
          <h2 class="category">Shipping</h2>
        </li>
        <!--Status-->
        <li class="">
          <h2 class="category">Status</h2>
        </li>
        <!--action-->
        <li class="action">
          <h2 class="category">Action</h2>
        </li>
      </ul>
      <div class="orders-list">
        <!--individual orders-->
        <ul class="order one">
          <!--order date-->
          <li>
            <p>July 12, 2016</p>
            <p>1:30 pm PST</p>
          </li>
          <!--order details-->
          <li>
            <p>Kona Crop 3/12/2016</p>
            <p>12 lb</p>
            <p>Contact Buyer: Shelby Moracca</p>
          </li>
          <!--shipping-->
          <li>
            <p>Standard</p>
            <p>Expected ship date</p>
            <p>Aug 3, 2016</p>
          </li>
          <!--status-->
          <li>
            <p>Not shipped</p>
          </li>
          <!--action-->
          <li>
            <button type="button" class='btn btn-default'><p>Print packing slip</p></button>
            <button type="button" class='btn btn-default'><p>Edit Shipments</p></button>
            <button type="button" class='btn btn-default'><p>Refund order</p></button>
          </li>
        </ul>
        <ul class="order two">
          <!--order date-->
          <li>
            <p>July 1, 2016</p>
            <p>4:45 am PST</p>
          </li>
          <!--order details-->
          <li>
            <p>Kona Crop 3/12/2016</p>
            <p>12 lb</p>
            <p>Contact Buyer: Shelby Moracca</p>
          </li>
          <!--shipping-->
          <li>
            <p>Standard</p>
            <p>Expected ship date</p>
            <p>Aug 3, 2016</p>
          </li>
          <!--status-->
          <li>
            <p>Shipped</p>
          </li>
          <!--action-->
          <li>
            <button type="button" class='btn btn-default'><p>Print packing slip</p></button>
            <button type="button" class='btn btn-default'><p>Edit Shipments</p></button>
            <button type="button" class='btn btn-default'><p>Refund order</p></button>
          </li>
        </ul>
        <ul class="order three">
          <!--order date-->
          <li>
            <p>June 28, 2016</p>
            <p>12:01 pm PST</p>
          </li>
          <!--order details-->
          <li>
            <p>Kona Crop 3/12/2016</p>
            <p>12 lb</p>
            <p>Contact Buyer: Shelby Moracca</p>
          </li>
          <!--shipping-->
          <li>
            <p>Standard</p>
            <p>Expected ship date</p>
            <p>Aug 3, 2016</p>
          </li>
          <!--status-->
          <li>
            <p>Shipped</p>
          </li>
          <!--action-->
          <li>
            <button type="button" class='btn btn-default'><p>Print packing slip</p></button>
            <button type="button" class='btn btn-default'><p>Edit Shipments</p></button>
            <button type="button" class='btn btn-default'><p>Refund order</p></button>
          </li>
        </ul>
      </div>
    </div>
    <div class="card-deck-wrapper">
      <div class="card-deck">
        <% @counter = 1 %>
        <% @roasts.each do |roast| %>
          <div class="card">
            <img class="card-img-top" src='<%= url("img/#{roast.image_url}") %>'alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title"><%= roast.name %></h4>
              <p class="card-text">Roast Date: <%= roast.roast_date %></p>
              <p class="card-text">Roast Type: <%= roast.roast_type %></p>
              <p class="card-text">Notes: <%= roast.notes %></p>
              <p class="card-text">Description: <%= roast.description %></p>
              <p class="card-text">Price: $<%= roast.price %></p>
              <p class="card-text">Ounces: <%= roast.ounces %>oz.</p>
            </div>
          </div>
          <% if @counter % 3 == 0 %>
            </div>
            <div class="card-deck">
          <% end %>
          <% @counter += 1 %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>






























<h1>Hi <%= @user.name() %></h1>

<a class="btn btn-default" role="button" href="/user_edit">Edit</a>

<form action="/user/roasters" method="post">
  <input type="hidden" name="_method" value="delete">
  <button class="btn btn-default" type="submit" name="button">DELETE ACCOUNT</button>
</form>
