<h1>Hi <%= @user.name() %></h1>
<p><%= @customer.street %></p>
<p><%= @customer.city %></p>
<p><%= @customer.state %></p>
<p><%= @customer.zip %></p>
<p>
<%= @customer.phone_number %></p>
<a href="/customer/edit">Edit</a>
